@import "_config.scss";
@import "_utilities.scss";

// Base Styles ==============================

body {
  font-size: $base__font-size;
  line-height: ($base__line/$base__font-size);
  font-family: $font-family--primary;
  font-weight: $font-weight--regular;
  background-color: #fff;
  color: $color-base;
}

h1 {
  font-size: em(51px);
  font-weight: $font-weight--bold;
  color: $color-accent--primary;
  text-transform: uppercase;
}

h2 {
  font-size: em(51px);
  font-weight: $font-weight--bold;
  color: $color-accent--primarylight;
  text-transform: uppercase;
  line-height: 1.5;
}

h3 {
  font-size: em(33px);
  color: $color-accent--primary;
  font-family: $font-family--script;
  margin-top: 40px;

  &.optical--left {
    margin-left: -3px;
  }




}

dt {
  font-size: em(18px);
  color: $color-accent--primary;
  font-weight: $font-weight--bold;
}
