// Global Config ==============================

// Font Stacks
$font-family--primary : 'Open Sans', sans-serif;
$font-family--script : 'Kaushan Script', cursive;

// Font Weights
$font-weight--regular: 400;
$font-weight--bold: 800;

// Descriptive Base Colors
$navyBlue       : #023d70;
$brickRed       : #6d2e3a;
$darkGray       : #626b71;
$lightGray      : #e6e6e6;

// Color Usage
$color-base                 : $darkGray;
$color-base--light          : $lightGray;
$color-accent--primary      : $navyBlue;
$color-accent--secondary    : $brickRed;
$color-accent--primarylight : rgba($navyBlue, .3);

// Text
$base__font-size  : 16.5px;
$base__line       : 21px;

// Breakpoints
$brkpoint-sm    : 768px;
$brkpoint-md    : 992px;
$brkpoint-lg    : 1200px;

// Media Queries
@mixin mq($break) {
  @if $break == "small" {
    @media (min-width: $brkpoint-sm ) {
      @content;
    }
  }
    @else if $break == "medium" {
    @media (min-width: $brkpoint-md){
      @content;
    }
  }
     @else if $break == "large" {
    @media (min-width: $brkpoint-lg) {
      @content;
    }
  }
     @else {
      @error "Whoops! No value could be retrieved for '#{$break}'."
    }
}
