.terminal {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid $color-base--light;
  background-color: $color-base--light;
  position: absolute;
  left: 49.65%;

  &--top {
    top: 990px;
  }

  &--bottom {
    top: 5390px;
  }

}

.divider {
  width: 0;
  border-right: 2px dashed $color-base--light;
  height: 4400px;
  position: absolute;
  left: 50%;
  top: 1000px;
}

.intro__image {
  border: 2pt solid $color-base--light;
  padding: em(10px);
  display: block;
  margin: 100px auto;
  position: relative;
  z-index: 200;
  background-color: #fff;
}

.align--right {
  text-align: right;
  padding-right: 50px;
}

.align--left {
  padding-left: 50px;
}

.h1__border {
  width: 287px;
  height: 112px;
  border-top: 2px solid $color-accent--secondary;
  border-bottom: 2px solid $color-accent--secondary;
  margin-bottom: 30px;
}

.float--right {
  float: right;
  padding: 5px 0 0 0;
}

.float--left {
  padding: 5px 0 0 0;
}

.col--top {
  margin-top: 0;
}

.toFront {
  z-index: 100;
  position: relative;
  top: 320px;
}
